---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Wir über uns">
  <h1>Wir über uns</h1>

  <p>Dieses Hilfsmittel wurde von der Stiftung Pfadiheime Schweiz erstellt.</p>

  <p>
    Die Stiftung Pfadiheime Schweiz wurde 1919 gegründet und hat den Zweck, die Errichtung und Erhaltung von Pfadiheimen
    und Pfadi-Lager- geländen zu unterstützen. Sie ist Eigentümerin von vier Liegenschaften in der Schweiz, auf denen
    sie eigene Pfadiheime betreibt, sowie der Speichergasse 31 in Bern, wo die Pfadibewegung Schweiz ihre
    Geschäftsstelle hat.
  </p>

  <p>
    <a href="https://stiftung-pfadiheime.ch/">https://stiftung-pfadiheime.ch/</a>
  </p>
</Layout>
