---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ziele">
  <h1>Ziele</h1>
  <p>
    Dieses digitale Tool bildet ein Wissensspeicher rund um die Fragen zum Pfadiheimumbau oder Pfadiheimneubau! Es kann
    auch für eine Reflektion oder Neuausrichtung bei einem bestehenden Haus verwendet und als Input für neue Themen
    verwendet werden.
  </p>
</Layout>
