---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fragen">
  <h1>Fragen</h1>

  <p>
    Du weisst nicht wo du beginnen sollst oder was dich ganz konkret interessiert? Beantworte hier die folgenden Fragen
    und es zeigt dir diese Artikel an, welche dich betreffen könnten.
  </p>
</Layout>
