---
import { locales, type Locale } from "../../../i18n";
import Layout from "../../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const articles = (await getCollection("articles")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

export async function getStaticPaths() {
  return (Object.keys(locales) as Locale[]).flatMap((locale) => ({
    params: { locale },
    props: { locale },
  }));
}
---

<Layout title="Übersicht">
  <main>
    <h1 class="text-4xl font-bold mb-8 mt-3">Übersicht</h1>
    <p class="mb-5">
      Zu den unterschiedlichsten Themen, welche bei einem Bauprojekt, in der Planung, Umsetzung oder im laufenden
      Betrieb wichtig sind gibt es Artikel.
    </p>
    <ul id="article-list" class="rounded-handdrawn border-gold-500 border-4 place-content-around p-8 flex flex-wrap">
      {
        Array.from(articles).map((article) => (
          <li>
            <a class="m-4 underline" href={`/${article.data.locale}/articles/${article.slug}`}>
              {article.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
