---
import { locales } from "../../../i18n";
import Layout from "../../../layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";

const articles = (await getCollection("articles")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

export async function getStaticPaths() {
  return (Object.keys(locales) as [keyof typeof locales]).flatMap((locale) => ({
    params: { locale },
    props: { locale },
  }));
}
---

<Layout title="Übersicht">
  <main>
    <h1>Übersicht</h1>
    <p>
      Zu den unterschiedlichsten Themen, welche bei einem Bauprojekt, in der Planung, Umsetzung oder im laufenden
      Betrieb wichtig sind gibt es Artikel.
    </p>
    <ul class="articles">
      {
        Array.from(articles).map((article) => (
          <li>
            <a href={`/${article.data.locale}/articles/${article.slug}`}>{article.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
