---
import { MainNav } from "../components/MainNav";
import Search from "../components/Search";
import { getLangFromUrl } from "../i18n";
import "../styles/global.scss";
export interface Props {
  title: string;
}

const { title } = Astro.props;
const locale = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-teal-700 text-gold-500 sm:p-5 md:p-10 leading-relaxed">
    <div class="grid grid-cols-appshell gap-4 min-h-screen">
      <main data-pagefind-body>
        <slot />
      </main>
      <MainNav locale={locale} />
    </div>
  </body>
</html>
