---
import type { MarkdownLayoutProps } from "astro";
import { Brand } from "../components/Brand";
import type { Locale } from "../utils/i18n";
import Layout from "./Layout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  locale: Locale;
}>;

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div
    class="prose-p:mb-4 prose-p:leading-relaxed text-amber-200
            prose-headings:font-bold prose-headings:mb-5
             prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg
             prose-ul:list-disc prose-ul:pl-6 prose-ul:mb-4
             prose-li:mb-1 prose-a:underline"
  >
    <h1>{frontmatter.title}</h1>
    <slot />
  </div>
</Layout>
