---
import type { Locale } from "../../../i18n";
import Layout from "../../../layouts/Layout.astro";
import type { Tag } from "../../../content/tags";
import allTags from "../../../content/tags/index.json";
import { getArticles, type Article } from "../../../content/articles";
import kebabCase from "lodash/kebabCase";

export async function getStaticPaths() {
  const allArticles = await getArticles();

  return allTags.flatMap((tag) => {
    const locale = tag.locale;
    const articles = allArticles.filter(
      (article) => article.data.locale == locale && article.data.tags?.some((t) => kebabCase(t) == tag.id)
    );
    return {
      params: { locale, slug: encodeURIComponent(tag.id) },
      props: { locale, tag, articles },
    };
  });
}

type Props = {
  articles: Article[];
  locale: Locale;
  tag: Tag;
};

const { tag, locale, articles } = Astro.props;
---

<Layout title="Tags">
  <main>
    <h1>{tag.label}</h1>
    <ul class="articles">
      {
        Array.from(articles).map((article) => (
          <li>
            <a href={`/${article.data.locale}/articles/${article.slug}`}>{article.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
