---
import type { Locale } from "../../../i18n";
import { locales } from "../../../i18n";
import Layout from "../../../layouts/Layout.astro";
import type { Tag } from "../../../tags";
import { getTags } from "../../../tags";
import { getArticles } from "../../../articles";
import { type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const allArticles = await getArticles({});
  const paths = await Promise.all(
    (Object.keys(locales) as Locale[]).flatMap(async (locale) => {
      const tags = await getTags(locale);
      console.log(tags);
      return tags.map((tag) => {
        const articles = allArticles.filter(
          (article) => article.data.locale == locale && article.data.tags?.includes(tag.slug),
        );
        return {
          params: { locale, slug: tag.slug },
          props: { locale, tag, articles },
        };
      });
    }),
  );
  return paths.flat();
}

type Props = {
  articles: CollectionEntry<"articles">[];
  locale: Locale;
  tag: Tag;
};

const { tag, locale, articles } = Astro.props;
---

<Layout title="Tags">
  <main>
    <h1>{tag.label_i18n[locale]}</h1>
    <ul class="articles">
      {
        Array.from(articles).map((article) => (
          <li>
            <a href={`/${article.data.locale}/articles/${article.slug}`}>{article.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
