---
import allTags from "../../../content/tags/index.json";
import { locales } from "../../../i18n";
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
  // console.log(Object.fromEntries(allTags.map((t) => [t.id, t.label])));
  // writeFileSync("tags.json", JSON.stringify(allTags));
  return Object.keys(locales).flatMap((locale) => {
    const tags = allTags.filter((tag) => tag.locale == locale);
    return {
      params: { locale },
      props: { locale, tags },
    };
  });
}

const { locale, tags } = Astro.props;
---

<Layout title="Tags">
  <main>
    <h1 class="text-4xl font-bold mb-8 mt-3">Tags</h1>
    <ul class="pl-6 list-disc">
      {
        Array.from(tags).map((tag) => (
          <li class="mb-2">
            <a class="underline" href={`/${locale}/tags/${tag.slug}`}>
              {tag.label}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
